.faculty-table {
    width: 100%;
    border-collapse: collapse;
}

.faculty-table th,
.faculty-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
}

.faculty-table th {
    background-color: #e54530;
    color: #ffffff;
}

.faculty-profile:nth-child(even) {
    background-color: #f9f9f9;
}

.faculty-name {
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: start;
}

.faculty-profile-link a {
    color: blue;
    text-decoration: none;
}

.faculty-profile-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .faculty-table {
        overflow-x: auto;
    }

    .faculty-table th,
    .faculty-table td {
        padding: 8px;
        font-size: 14px;
    }

    .faculty-table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}